[run]
source =
    src
omit =
    */migrations/*
    */tests/*
    */urls.py
    src/manage.py
    src/asgi.py
    src/wsgi.py
    src/settings/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __str__
    def __repr__