# IDE Configs
.idea

# Virtual Environment
.venv

# ENV
.env_template
.env.prod_template

# Coverage
.coverage

# Docker
docker

# Docker Ignore File
.dockerignore

# Python Cache
**/__pycache__/

# Pytest Cache
.pytest_cache

# Ruff Cache
.ruff_cache

# README File
README.md

# LICENSE File
LICENSE

# Makefile
Makefile

# Nginx
nginx

# Git
.git
.gitignore
