services:

  django:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.python.prod
    image: django-prod
    container_name: django-prod
    restart: always
    env_file:
      - ../.env.prod
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/staticfiles

  nginx:
    image: nginx:latest
    container_name: nginx-prod
    restart: always
    depends_on:
      - django
    ports:
      - "80:80"
    volumes:
      - static_volume:/staticfiles:ro
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  postgres:
    image: postgres:latest
    container_name: postgres-prod
    restart: always
    env_file:
      - ../.env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin-prod
    restart: always
    env_file:
      - ../.env.prod
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
  static_volume: