services:

  django:
    container_name: django
    restart: unless-stopped
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.python.dev
    volumes:
      - ../src:/app/src
    env_file:
      - ../.env
    command:
      [
        "poetry",
        "run",
        "python",
        "src/manage.py",
        "runserver",
        "0.0.0.0:8000"
      ]
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  celery:
    container_name: celery
    restart: unless-stopped
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.python.dev
    volumes:
      - ../src:/app/src
    env_file:
      - ../.env
    environment:
      PYTHONPATH: /app/src
    command:
      [
        "poetry",
        "run",
        "celery",
        "-A",
        "src",
        "worker",
        "-l",
        "info"
      ]
    stop_grace_period: 30s
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  celery-beat:
    container_name: celery-beat
    restart: unless-stopped
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.python.dev
    volumes:
      - ../src:/app/src
    env_file:
      - ../.env
    environment:
      PYTHONPATH: /app/src
    command:
      [
        "poetry",
        "run",
        "celery",
        "-A",
        "src",
        "beat",
        "-l",
        "info"
      ]
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  flower:
    container_name: celery-flower
    image: mher/flower
    ports:
      - "5555:5555"
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
    depends_on:
      redis:
        condition: service_healthy

  redis:
    container_name: redis
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  postgres:
    container_name: postgres
    restart: always
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    restart: always
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres@postgres.com
      PGADMIN_DEFAULT_PASSWORD: postgres
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data: