name: Run Tests

on:
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    name: Run Pytest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and run tests
        run: |
          docker compose -f docker/docker-compose.ci.yaml up \
            --build \
            --abort-on-container-exit \
            --exit-code-from django